@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2f2;
}

li {
  list-style: none;
}

/* Barra de navegação */

.nav-home-page {
  position: fixed;
  background: #2f2f2f;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-top {
  display: flex;
}

.textLogo {
  font-family: "Lobster", sans-serif;
  font-size: 2rem;
  color: #00a8e8;
}

/* Animações */

/* Responsividade */

/* Tablet */

@media only screen and (max-width: 768px) {
  body {
    background: lightblue;
  }
}

/* Smartphone */

@media only screen and (max-width: 450px) {
  body {
    background: lightcoral;
  }
}
