* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background: #f2f2f2f2;
  overflow-y: hidden;
}

li {
  list-style: none;
}

/* Barra de navegação */

.nav-home-page {
  position: fixed;
  background: #2f2f2f;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-top {
  display: flex;
  gap: 2rem;
}

.menu-top li {
  color: #ffffff;
  font-weight: 300;
}

.menu-top li:hover {
  color: #ef2d56;
}

.brandWrapper {
  display: flex;
}

.textLogo,
.slogan {
  font-family: "Lobster", sans-serif;
}

.textLogo {
  color: #00a8e8;
  font-size: 2rem;
}

.slogan {
  color: white;
  font-size: 1rem;
  align-self: flex-end;
}

.welcome-space {
  padding-top: 60px;
}

.hero {
  display: flex;
}

.hero-txt {
  flex: 0 0 65%;
}

.hero-img {
  flex: 0 0 35%;
}

/* Animações */

/* Responsividade */

/* Tablet */

@media only screen and (max-width: 768px) {
  body {
    background: lightblue;
  }
}

/* Smartphone */

@media only screen and (max-width: 450px) {
  body {
    background: lightcoral;
  }
}
