* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2f2;
}

/* Animações */

/* Responsividade */

/* Tablet */

@media only screen and (max-width: 768px) {
  body {
    background: lightblue;
  }
}

/* Smartphone */

@media only screen and (max-width: 450px) {
  body {
    background: lightcoral;
  }
}
